<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express App Front-End</title>
    <link rel="stylesheet" href="/css/style.css" >
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('partials/header') %>

    <main class="main-index page-content" >

        <h1>Express App Front-End</h1>

        <p>This is a Full-Stack Application build with Express.js</p>

    </main>
</body>
</html>