<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="/css/style.css" >
</head>
<body>
    
    <%- include('../partials/header') %>

    <main class="products-page" >

        <h1><% title %></h1>

        <% products.map(p => { %>
            <div class="product-card" >
                <h1><%= p.name %></h1>
                <p><%= p.description %></p>
                <span>Price: R$ <%= p.price %></span>
            </div>
        <% }); %>
    </main>
</body>
</html>
